@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
      margin: 0;
      padding: 0;
}

body {
      font-family: "Merriweather", serif;
}

/* banner-container styles start here */
.banner-container {
      max-width: 1320px;
      min-height: 600px;
      margin: 50px auto 0px auto;
      border: 2px solid red;
      border-radius: 16px;
      background-image: url('../images/Banner.png');
      background-color: rgba(0, 0, 0, 0.4);
      background-blend-mode: overlay;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 600px;
      letter-spacing: 0%;
      border-style: none;
}

.banner-container p {
      color: rgb(255, 255, 255);
      font-size: 32px;
      font-weight: 400;
      line-height: 40px;
}

.banner-container h1 {
      color: rgb(255, 255, 255);
      font-size: 72px;
      font-weight: 900;
      line-height: 95px;
}

/* section 65% styles start here */
.second-section-container {
      max-width: 802.9px;
      min-height: 806px;
      margin: 0 auto;
      margin-top: 90px;
      border: 2px solid red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.second-section-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}


.second-section-content h1 {
      color: rgb(255, 0, 0);

      font-size: 88px;
      font-weight: 700;
}

.second-section-content p {
      color: rgb(255, 0, 0);

      font-size: 24px;
      font-weight: 500;
}

.second-section-content h3 {
      color: rgb(7, 2, 17);

      font-size: 48px;
      font-weight: 700;
}

.image-container {
      width: 802.9px;
      height: 500px;
}

.image-container img {
      width: 100%;
      height: 100%;
}

/* midnight section styles start here */
.midnight-party-containar {
      width: 1320px;
      height: 600px;
      border: 2px solid red;
      margin: 0 auto;
      margin-top: 120px;
      display: flex;
      background-image: url('../images/Vectorrr.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0.4);
      background-blend-mode: overlay;
      border-style: none;
}

.leftside-content {
      width: 50%;
      height: 600px;
      border: 2px solid green;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
      border-style: none;
}




#midnight-button {
      color: rgb(255, 255, 255);
      font-family: Inter;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
}

.leftside-content h1 {
      color: rgb(255, 255, 255);
      font-family: Merriweather;
      font-size: 64px;
      font-weight: 900;
      line-height: 88px;
      letter-spacing: 11%;
}

.leftside-content p {
      color: rgba(255, 255, 255, 0.8);
      font-family: Inter;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      text-align: left;
      margin-left: 65px;
}

.rightside-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.rightside-content img {
      width: 349.16px;
      height: 464.65px;

}